body{
    background-color: blue;
    background-image: linear-gradient(to bottom,red,yellow,blue,violet,orange);
}
.heading{
    color: brown
   
}
#paragraph{
    padding: 20px;
    font-family:'Shadows Into Light', cursive;
    font-style: oblique;  
}
input[type="username"],input[type="password"]{
    height: 40px;
    width: 100px;
    display: block;
}
#inner1{
    height: 200px;
    background-color: chocolate;
    width: 40%;
    outline: 10px dotted goldenrod;
}
#inner2{
    height: 200px;
    width: 40%;
   
    background-color: cyan;
}
#inner3{
    height: 200px;
    width: 40%;
    float: left;
    background-color: dimgray;
}

